{%extends "base.html"%}
{%block content%}
<article id="main">
    <section id="content">
    {{ g.audio }} Audio challenges
    {{ g.visual }} Visual challenges
    </section>
</article>
{%endblock%}
