{% extends 'base.html' %}
{% from 'formhelper.html' import render_field %}
{% block content %}
<section class="row">
    <section class="col-12">
    <span class="float-right"><a href="{{ url_for('user.delete') }}" class="btn btn-danger btn-sm">{{ _("Delete my account") }}</a></span>
    <h1>{{ _("Dashboard") }}</h1>

    <h2>{{ _("Your keys") }}</h2>
    {% if current_user.keys.count()>0 %}
    <table class="table table-dark">
    <thead>
    <tr>
        <th>{{ _("Public key") }}</th>
        <th>{{ _("Secret key") }}</th>
        <th>{{ _("Domains") }}</th>
        <th>{{ _("Actions") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for key in current_user.keys %}
    <tr>
        <td>{{ key.public }}</td>
        <td>{{ key.public_secret }}</td>
        <td>{{ key.domains.all()|join(', ') }}</td>
        <td>
            <a href="{{ url_for('user.delete_key', key_id=key.id) }}" class="btn btn-danger btn-sm">{{ _("Delete this key") }}</a>
        </td>
    </tbody>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    {{ _("You still have no key! Create one right now and start using it!") }}
    {% endif %}

    <p>
    <hr />
    <form method="post" action="{{ url_for('user.new_key') }}">
    {{ g.form.hidden_tag() }}
    <fieldset>
    {{_("Add new key for this domains list :")}} {{ render_field(g.form.domains) }}<br />
    </fieldset>
    <input type="submit" class="btn btn-success" value="{{ _('Create new key') }}" />
    </form>
    </p>

    <h2>{{ _("Your statistics") }}</h2>
    {% if current_user.keys.count()>0 %}
    <table class="table table-dark">
        <thead>
        <tr>
            <th>{{_("Domain") }}</th>
            <th>{{_("Challenges displayed") }}</th>
            <th>{{_("Challenges failed") }}</th>
            <th>{{_("Challenges resolved") }}</th>
            <th>{{_("Visual challenges") }}</th>
            <th>{{_("Audio challenges") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for key in current_user.keys %}
        {% for domain in key.domains %}
        <tr>
            <td>{{domain.name}}</td>
            <td>{{domain.displayed}}</td>
            <td>{{domain.failed}}</td>
            <td>{{domain.resolved_visual+domain.resolved_audio}}</td>
            <td>{{"%.2f %%"|format(domain.resolved_visual/(domain.resolved_visual+domain.resolved_audio)*100) if (domain.resolved_visual+domain.resolved_audio)>0 else "0.00 %"}}</td>
            <td>{{"%.2f %%"|format(domain.resolved_audio/(domain.resolved_visual+domain.resolved_audio)*100) if (domain.resolved_visual+domain.resolved_audio)>0 else "0.00 %"}}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    {{ _("You still have no key! Create one right now and start using it!") }}
    {% endif %}

    </section>
</section>
{% endblock %}
